# Frontend
frontend/node_modules/
frontend/dist/
frontend/*.local

# Backend
backend/__pycache__/

backend/venv/
backend/env/
*.env
*.pyc

# Sync Script
sync_script/__pycache__/
sync_script/last_sync.txt
sync_script/.env
sync_script/venv/
sync_script/env/

# OS Files
.DS_Store
Thumbs.db
.gitnexus
node_modules/
